.cm-scroller {
    min-height: inherit !important;
    height: 70vh;
}

.cm-gutter{
    overflow: visible !important;
}

.cm-editor {
    min-height: inherit !important;
    position: relative;
    max-width: 100%;
    overflow: auto !important;
    width: 70vw;
    height: inherit;
}

.copy-button {
    background-color: #0c99e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    font-size: 12px;
    right: -10px;
    z-index: 100;
}
.copy-button:hover {
    background-color: #0066ff;
}